<!--p><a href="/myProfiletr/{{outputid}}">My Profile</a></p>
<p><a href="/updateProfiletr/{{outputid}}">Update Profile</a></p>
<p><a href="/trlogin/{{outputid}}">Home</a></p>
<p><a href="/logout/">Logout</a></p-->

<div class="row">
  <div class="col-lg-1">

  </div>
  <div class="col-lg-10">
    <div class="card" style="padding: 3%;">
      <div class="card-header">
         <h3>{{viewTitle}}</h3>
      </div>
      <div class="card-body">
          <form action="/meetupdated/{{meetingdate}}" method="POST">
              <!input type="hidden" name="_id" value="{{outputid}}" >
              <!--input type="hidden" name="_id" value="{{meetingdate}}" -->
              <div class="form-group">
                <label>Date</label>
                <input type="text" name="mdate" class="form-control date" required="true" placeholder="Date" value="{{meetingsobject.mdate}}">
              </div>
                <div class="form-group">
                  <label>batch</label>
                  <input type="text" name="mbatch" class="form-control" required="true" placeholder="Batch" value="{{meetingsobject.mbatch}}">
                </div>
                <div class="form-group">
                    <label for="comment">Remarks</label>
                    <textarea class="form-control" rows="3"  name="mremarks" required="true"  placeholder="{{meetingsobject.mremarks}}" value="{{meetingsobject.mremarks}}">
                    {{meetingsobject.mremarks}}</textarea>
                  </div>
                  <div class="form-group">
                      <label for="comment">Achievements</label>
                      <textarea class="form-control" rows="3"  name="machieve" required="true" value="{{meetingsobject.machieve}}">
                      {{meetingsobject.machieve}}</textarea>
                    </div>
                    <div class="form-group" style="text-align:center">
                      <button type="submit" class="btn btn-danger btn-lg"><i class="fa fa-database"></i>Add</button>
                    </div>
        </form>
      </div>
      <div class="card-footer">

      </div>

    </div>
  </div>
  <div class="col-lg-1">

  </div>

</div>
<script type="text/javascript">
   $('.date').datepicker({
      format: 'yyyy-mm-dd'
    });
</script>


