<div class="row">
  <a href="/myProfile/{{outputrollnumber}}">View Profile</a>
  <a href="/updateProfile/{{outputrollnumber}}">Update Profile</a>
</div>
<h4>{{viewTitle}}</h4>
<section>

  <h4>welcome student.Your roll number: {{outputrollnumber}}</h4>
  <!--a href="/showmyform/{{outputrollnumber}}">MyForm</a-->
  <!--a href="/fillmyform/{{outputrollnumber}}">Fill form</a-->
